<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .box {
      width: 598px;
      height: 730px;
      background-color: pink;
    }
    .inbox {
      width: 537px;
      height: 76px;
      background-color: grey;
    }
    .btn-text-left {
      text-align: left;
    }
    .btn-text-right {
      text-align: right;
    }
  </style>
  <body>
    <center>
      <div class="outer">
        <div class="box">
          <div class="inbox mt-2"></div>
          <br />
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-primary btn-lg mb-3 mx-5"
                style="
                  width: 30%;
                  background-color: #d9d9d9;
                  color: black;
                  border: 2px solid black;
                "
              >
                Onion
              </button>
              <button
                type="button"
                class="btn btn-secondary btn-lg mb-3 mx-5"
                style="
                  width: 30%;
                  background-color: #d9d9d9;
                  color: black;
                  border: 2px solid black;
                "
              >
                Tomato
              </button>
            </div>
          </div>
          <!-- <span class="btn-text-left mx-5">
    <button type="button" class="btn btn-secondary btn-lg">Animals</button>
    </span>
    <span class="btn-text-left mx-5">
        <button type="button" class="btn btn-secondary btn-lg">Vehicles</button>
    </span>
    <br>
    <br>
    <span class="btn-text-left mx-5">
    <button type="button" class="btn btn-secondary btn-lg">Birds</button>
    </span>
    <button type="button" class="btn btn-secondary btn-lg">Festivals</button>
    <br>
    <br>
    <span class="btn-text-left mx-5">
    <button type="button" class="btn btn-secondary btn-lg">Colours</button>
    </span>
    <span>
    <button type="button" class="btn btn-secondary btn-lg">Seasons</button>
    <br>
    <br>
    <span class="btn-text-left mx-5">
    <button type="button" class="btn btn-secondary btn-lg">Fruits</button>
     </span>
    <button type="button" class="btn btn-secondary btn-lg">Daily Life Objects</button>
    <br>
    <br>
    <span class="btn-text-left mx-5">
    <button type="button" class="btn btn-secondary btn-lg">Vegetables</button>
    </span>
    <span class="btn-text-right">
    <button type="button" class="btn btn-secondary btn-lg mx-5">Signs and Symbols</button>
    <br>
    <br>
    <span class="btn-text-left mx-5">
    <button type="button" class="btn btn-secondary btn-lg ">Numbers</button>
    </span>
    <br>
    <br>
    <span class="btn-text-left mx-5">
    <button type="button" class="btn btn-secondary btn-lg mx-5">Shapes</button>
    </span>
     <br>
    <br>
    <span class="btn-text-left mx-5">
    <button type="button" class="btn btn-secondary btn-lg mx-5">Sports</button>
    </span>    
    <br>
    <br>
    <span class="btn-text-left">
    <button type="button" class="btn btn-secondary btn-lg mx-5">Flowers</button>
    </span> -->
        </div>
      </div>
    </center>
  </body>
</html>
