{% extends 'gamearea.html' %}
{%block img%} src="../static/mango.jfif" {%endblock img%}
{%block option1%} Mango {%endblock option1%}
{%block option2%} Apple {%endblock option2%}
{%block option3%} Kiwi {%endblock option3%}
{%block option4%} Cherry {%endblock option4%}

<!-- //javascript function
1. 10 interfaces show karna h with 10 diff images
2. In each interface we will calculate the scoreCount
3. after 10th interface we will display the result
4. if scoreCount>x Display: Congrats Page
  else Display: Sorry Page -->

  {% block script %}
  var score=0;
  
  {% endblock script %}
  